### see packages/env

# ==============================================================================
# BIOVERIFY PROTOCOL & AGENT
# ==============================================================================
TREASURY_ADDRESS=
AI_AGENT_ADDRESS=
AI_AGENT_PRIVATE_KEY=
DEPLOYER_PRIVATE_KEY=
DEPLOY_VALUE=5000000000000000
ETHERSCAN_API_KEY=

REPUTATION_BOOST=100

# Publisher
# 0.02 ether - Opex (Covers VRF + AI Agent costs)
PUBLISHER_MIN_FEE=20000000000000000 
# 0.001 ether - Security/slashing - submitPublication
PUBLISHER_STAKE=1000000000000000 

# Reviewer
# 0.001 ether - Security/slashing - payReviewerStake
REVIEWER_STAKE=1000000000000000
# 0.0005 ether
REVIEWER_REWARD=500000000000000

# ==============================================================================
# CHAINLINK INFRASTRUCTURE
# ==============================================================================
VRF_BASE_SEPOLIA_SUBSCRIPTION_ID=
VRF_SEPOLIA_SUBSCRIPTION_ID=
# Total Reviewers to pick: pick (n-1) peer reviewers + 1 senior reviewer
VRF_NUM_WORDS=4 
NEXT_PUBLIC_ESTIMATED_VRF_GAS_UNITS=600000

# ==============================================================================
# ALCHEMY (RPC & WEBHOOKS)
# ==============================================================================
ALCHEMY_BASE_SEPOLIA_RPC_URL=
ALCHEMY_SEPOLIA_RPC_URL=
ALCHEMY_BASE_SEPOLIA_WH_SK=
ALCHEMY_ETH_SEPOLIA_WH_SK=
NEXT_PUBLIC_ALCHEMY_BASE_SEPOLIA_RPC_URL=
NEXT_PUBLIC_ALCHEMY_ETH_SEPOLIA_RPC_URL=
NEXT_PUBLIC_ALCHEMY_BASE_SEPOLIA_WSS=
NEXT_PUBLIC_ALCHEMY_ETH_SEPOLIA_WSS=

# ==============================================================================
# AI & FORENSIC TOOLS
# ==============================================================================
GEMINI_API_KEY=
EXA_AI_API_KEY=
EXA_BASE_URL=https://api.exa.ai/search

# ==============================================================================
# DATABASE & PERSISTENCE
# ==============================================================================
NEON_DATABASE_URL=
NEON_AGENTS_DATABASE_URL=
# sign requests to and from Inngest to ensure secure communication
INNGEST_SIGNING_KEY=
# to send events to Innges
INNGEST_EVENT_KEY=

# ==============================================================================
# IPFS & STORAGE (PINATA)
# ==============================================================================
NEXT_PUBLIC_PINATA_IPFS_URL=
NEXT_PUBLIC_PINATA_PIN_API_URL=
PINATA_API_KEY=
PINATA_API_SECRET=
PINATA_API_JWT=

# ==============================================================================
# FRONTEND & SOCIAL
# ==============================================================================
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_RAINBOWKIT_PROJECT_ID=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Author / Social
NEXT_PUBLIC_GITHUB_URL=
NEXT_PUBLIC_LINKEDIN_URL=
NEXT_PUBLIC_PORTFOLIO_URL=
NEXT_PUBLIC_TELEGRAM_URL=

# Deployed Contracts (Block Explorer)
NEXT_PUBLIC_CONTRACT_BASE_SEPOLIA_URL=https://sepolia.basescan.org/address/0xa5FD28966BE524490d855FBE6E3c830357197251
NEXT_PUBLIC_CONTRACT_ETH_SEPOLIA_URL=https://sepolia.etherscan.io/address/0x1DcB58429F02c627dC726C623A4A9e785ecac3c7
