NEXT_PUBLIC_APP_URL=

# ALCHEMY RPC HTTPS
NEXT_PUBLIC_ALCHEMY_ETH_SEPOLIA_RPC_URL=
NEXT_PUBLIC_ALCHEMY_SEI_TESTNET_RPC_URL=

# ALCHEMY WEBSOCKETS
NEXT_PUBLIC_ALCHEMY_ETH_SEPOLIA_WSS=
NEXT_PUBLIC_ALCHEMY_SEI_TESTNET_WSS=

# ALCHEMY WEBHOOK SK for SubmittedPublication event
ALCHEMY_SEPOLIA_ETH_SUBMISSION_WH_SK=
ALCHEMY_SEI_TESTNET_SUBMISSION_WH_SK=

# ALCHEMY WEBHOOK SK for Agent_PickedReviewers event
ALCHEMY_SEPOLIA_ETH_PICK_REVIEWERS_WH_SK=
ALCHEMY_SEI_TESTNET_PICK_REVIEWERS_WH_SK=

# Rainbow Kit
NEXT_PUBLIC_RAINBOWKIT_PROJECT_ID=

# PINATA
NEXT_PUBLIC_PINATA_IPFS_URL=

NEXT_PUBLIC_PINATA_PIN_API_URL=
PINATA_API_KEY=
PINATA_API_SECRET=
PINATA_API_JWT=

# TAVILY
TAVILY_API_KEY=
TAVILY_SEARCH_URL=

# LLM
GEMINI_API_KEY=

# SIGNER AGENT 
AGENT_PRIVATE_KEY=

# ESTIMATED_VRF_GAS_UNITS - for VRF request + fulfillment
NEXT_PUBLIC_ESTIMATED_VRF_GAS_UNITS=

# TELEGRAM
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# SUPABASE CLIENT
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
SUPABASE_DB_SK_API_KEY=

# SUPABASE CONNECTION STRING FOR LANGGRAPH PERSISTENCE
DATABASE_URL=